/* hintergrund navigationsleiste */
.wrapper {
  background: #2196f3; /*blau*/
  width: 100%;
}

/* format der schrift und der navigationsleite */
ul.nav {
  overflow: hidden;
  list-style: none;
  padding: 0;
  position: relative;
  margin: auto;
}
/* abstand der einzelnen listenelemente*/
li {
  margin: 10px;
}

li.right {
  float: right;
}

li.left {
  float: left;
}

/* style der listenelemente */
li a {
  font-size: 18px;
  font-family: Arial, sans-serif;
  text-decoration: none;
  text-align: center;
  color: white;
  background: inherit;
  padding: 14px 16px;
  border: none;
  outline: none;
}

/* Maus-Event */
li a:hover {
  background-color: #f2f2f2; /*weiss-grau*/
  color: black;
}
