body {
  background: whitesmoke;
}


* {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  body #list {
    margin: auto;
    width: 90vw;
  }
  
  body .dropdown {
    position: relative;
    display: inline-block;
  }

  body .input {
    display: block;
  }
  body #grid-item-betten, body #grid-item-name,body #grid-item-geraete,body #grid-item-intensiv,body .pure-material-button-contained {
    font-size: 24px;
  }
  body .pure-material-button-contained {
    width: 100%;
  }
  body .content {
    font-size: 22px;
    display: block;
  }

}

#optionen {
  margin-left: 8px;
}

#sortAuswahl{
  padding-bottom: 15px;
  margin: auto;
  /*width: 73vw;*/
  text-align: center;
}


.input {
  grid-column-start:1;
  grid-column-end: 5;
  margin-bottom: 3vh;
  min-width: 70vw;
  background: white;
  display: inline-grid;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  grid-auto-columns: 15vw;

  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 0px solid #000000;
}

.input:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.32), 0 3px 6px rgba(0,0,0,0.38);
}

#list {
  margin: auto;
  width: 73vw;
  padding-top: 15px;
}

#grid-item-betten, #grid-item-name, #grid-item-geraete, #grid-item-intensiv, .pure-material-button-contained {
  grid-row-start:1;
  grid-row-end:2;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 21px;
  text-align: center;
}

#grid-item-name {
  text-decoration: underline;
}

#grid-item-betten, #grid-item-geraete, #grid-item-intensiv {
  outline-style: none;
  outline-width: 1px;
  padding: 5%;
}

#left {
  grid-column-start:1;
  grid-column-end:2;
}

#middle {
  grid-column-start:2;
  grid-column-end:3;
}

#right {
  grid-column-start:3;
  grid-column-end:4;
  grid-row-start: 1;
  grid-row-end: 4;
}

#left, #middle, #right {
  margin: 15px 15px 15px 15px;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.14);
}

.header {
  font-size: 20;
  font-weight: bold;
}


.pure-material-button-contained {
  width: 60px;
  height: 30px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.pure-material-button-contained::-moz-focus-inner {
  border: none;
}

/* Overlay */
.pure-material-button-contained::before {
  content: "+";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  opacity: 0;
  transition: opacity 0.2s;
}

/* Ripple */
.pure-material-button-contained::after {
  content: "-";
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  padding: 50%;
  width: 32px; /* Safari */
  height: 32px; /* Safari */
  background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.pure-material-button-contained:hover,
.pure-material-button-contained:focus {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:hover::before {
  opacity: 0.08;
}

.pure-material-button-contained:focus::before {
  opacity: 0.24;
}

.pure-material-button-contained:hover:focus::before {
  opacity: 0.3;
}

/* Active */
.pure-material-button-contained:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:active::after {
  opacity: 0.32;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0s;
}

/* Disabled */
.pure-material-button-contained:disabled {
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
  box-shadow: none;
  cursor: initial;
}

.pure-material-button-contained:disabled::before {
  opacity: 0;
}

.pure-material-button-contained:disabled::after {
  opacity: 0;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  font-size: 16px;
  grid-column-gap: 2vw;
  grid-column-start:1;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 4;
  padding: 0px 16px;
  display: grid;

  -webkit-box-shadow: inset 0px 0px 8px 3px rgba(133,133,133,0.7);
  -moz-box-shadow: inset 0px 0px 8px 3px rgba(133,133,133,0.7);
  box-shadow: inset 0px 0px 8px 3px rgba(133,133,133,0.7);

  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;

  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 0px solid #000000;
}

