body {
  background-color: whitesmoke;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}


/* navigation menue */
.Krankenhaus {
background-image: url(krankenhaus.jpg);
background-repeat: no-repeat;
background-size: contain; 
height: 60px;
color:  white;
width: 100px; 
font-family: Comic Sans MS; 
font-size: 15px;
position:absolute; 
background-color #cccccc;
}

#Karte {
background-image: url(middl.jpg); 
background-repeat: no-repeat;
background-color: #cccccc;
background-size: contain;
width: 50%;
padding-bottom: 47.6%;
position: relative;
margin-left: 25%;
margin-top: 15px;
}


.krankenhausname{
margin-top:55%;  
height: 10%; 
width: 100%;
display: none;
position: absolute;


}
.Krankenhaus:hover > .krankenhausname {
  
  display: block;
  z-index: 4;
  
}

#sortAuswahl{
  padding-top: 15px;
  padding-bottom: 15px;
  margin: auto;
  /*width: 73vw;*/
  text-align: center;
}



