body {
  background: whitesmoke;
}


* {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

}

.wrapper {
  margin-bottom: 15px;
}
